/* Style global pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style pour la page de formulaire */
.form-page {
    background: linear-gradient(to bottom, #ADD8E6, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 15px;
    width: 100%;
}

.form-field input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
}

.form-field input::placeholder {
    color: #A9A9A9;
}

/* Style du bouton de validation */
.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Style pour la page de résultats de forecast */
.forecast-page {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forecast-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
