<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Energy Consumption Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="form-page">
    <div class="form-container">
        <h1 class="form-title">Energy Consumption Forecast</h1>
        <form action="/forecast" method="POST">
            <div class="form-field">
                <label>Temperature (°C): </label><input type="text" name="temperature" placeholder="Ex : 25" required>
            </div>
            <div class="form-field">
                <label>Humidity (%): </label><input type="text" name="humidity" placeholder="Ex : 50" required>
            </div>
            <div class="form-field">
                <label>Square footage (m²): </label><input type="text" name="square_footage" placeholder="Ex : 70" required>
            </div>
            <div class="form-field">
                <label>Occupancy (number of person): </label><input type="text" name="occupancy" placeholder="Ex : 3" required>
            </div>
            <div class="form-field">
                <label>HVAC (climatisation) : </label><input type="text" name="hvac_usage" placeholder="Yes / No" required>
            </div>
            <div class="form-field">
                <label>Renewable energy : </label><input type="text" name="renewable_energy" placeholder="Yes / No" required>
            </div>
            <button type="submit" class="submit-button">Generate Forecast</button>
        </form>
    </div>
</body>
</html>
